<header>
	<span>{{habit.habit_name}} Statistics</span>
	<div class="current_user right">
	  <img src="{{user.photoUrl}}" />
	  <span>{{user.name}}</span>
	</div>
	<a class="right" id="edit_habit"><i class="fas fa-pencil-alt"></i></a>
	<a href="/stats/{{habit._id}}/delete" class="right"><i class="fas fa-trash-alt"></i></a>
</header>

<nav>
  <div class="nav_header"><i class="fa fa-bolt" aria-hidden="true"></i> Quirk</div>
  <div class="nav_links">
    <ul>
		<section class="nav_section_divider">Main</section>
		<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Dashboard</a></li>
		<li><a id="nav_stats_link"><i class="fas fa-chart-line"></i> Statistics</a></li>
		<section class="nav_section_divider">Settings</section>
		<li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
  </div>
</nav>

<div class="content" id="stats_content">
	<div class="habit_tab">
		<form method="POST" action="/stats/{{habit._id}}/edit">
			<ul>
				<li>
					<label for="habitName">Habit Name:</label>
					<input type="text" name="habitName" placeholder="e.g. Gym" value="{{habit.habit_name}}" required/>
				</li>
				<li>
					<label for="habitDesc">Habit Description:</label>
					<input type="text" name="habitDesc" placeholder="Workout for 1 hour and do 15mins cardio." value="{{habit.habit_desc}}" />
				</li>
				<li>
					<label for="weeklyGoal">Weekly goal:</label>
					<select name="weeklyGoal">
						<option value="1">Once a week</option>
						<option value="2">2 times a week</option>
						<option value="3">3 times a week</option>
						<option value="4">4 times a week</option>
						<option value="5">5 times a week</option>
						<option value="6">6 times a week</option>
						<option value="7">Every day</option>
					</select>
				</li>
				<li>
					<label for="numOfWeeks">Total Number of Weeks:</label>
					<input type="text" name="numOfWeeks" placeholder="5" pattern="[0-9.]+" max="52" value="{{habit.num_of_weeks}}" required/>
				</li>
				<li>
					<label for="colour">Colour:</label>
					<select name="colour">
						<option value="#FFFFFF">White</option>
						<option value="#FFAA7D">Orange</option>
						<option  value="#DC6E6E">Red</option>
						<option value="#8FE08E">Green</option>
						<option value="#64C4E0">Blue</option>
					</select>
				</li>
				<li>
					<input type="submit" value="Update Habit" />
				</li>
			</ul>
		</form>
	</div>
	<ul>
		<li>
			<h3 id="#current_streak">{{stats.currentStreak}}</h3>
			<p>Current Streak</p>
		</li>
		<li>
			<h3 id="#max_streak">{{stats.maxStreak}}</h3>
			<p>Max Streak</p>
		</li>
		<li>
			<h3 id="#success_rate"></h3>
			<p>Success Rate</p>
		</li>
		<li>
			<h3 id="#total_days"></h3>
			<p>Total Days</p>
		</li>
	</ul>
	<canvas id="mychart"></canvas>
</div>

<div class="StatsModal">
	<h3>Select a habit</h3>
	{{#if habits}}
		<ul>
			{{#each habits}}
				<li><a href="/stats/{{this._id}}" style="background-color: {{this.colour}}">{{this.habit_name}}</a></li>
			{{/each}}
		</ul>
	{{/if}}
</div>
<div class="StatsModalBackground"></div>
